{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        http-kit/http-kit   {:mvn/version "2.5.3"}
        cheshire/cheshire   {:mvn/version "5.10.2"}
        team.sultanov/secret-keeper {:mvn/version "1.0.80"}
        ;; com.fulcrologic/guardrails {:mvn/version "1.1.5"}
        ;; org.clojure/core.async {:mvn/version "1.3.618"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      metosin/testit {:mvn/version "0.4.1"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.133"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "clj-zyte-api.jar"}}
  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "clj-zyte-api.jar"]}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "clj-zyte-api.jar"]}}}
