{:lint-as {com.fulcrologic.guardrails.core/>fdef clojure.core/defn
           com.fulcrologic.guardrails.core/>def  clojure.spec.alpha/def
           com.fulcrologic.guardrails.core/>defn clojure.core/defn}}
